*.o
*.a
*.qm
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.dmg
*.json.h
*.raw.h
*.pb.cc
*.pb.h

.deps
.dirstamp
.libs

qrc_*.cpp
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h
src/qt/test/moc*.cpp
src/config/swiftcash-config.h
src/config/swiftcash-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/tests-config.sh
contrib/devtools/split-debug.sh
src/test/buildenv.py

Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
libtool

autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
build-aux/test-driver

src/swiftcash-cli
src/swiftcash-tx
src/swiftcashd
src/qt/swiftcash-qt
src/qt/test/test_swiftcash-qt
src/test/test_swiftcash
